
*
{
  cursor: mouse;
  background-color: rgba(1, 1, 1, 0);
  font-family: 'Questrial', sans-serif;
}

.interest
{
  display: inline-flex;
  height: 90vh;
}
.earth
{
  height: auto;
  width: 700px;
}




.about-heading{
  color: #ebebebce;
  text-align: center;
  font-size: 30px;
}

.about-content
{
  color: #ebebebce;
  text-align: justify;
  text-justify: inter-word;
  font-size: 28px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  max-width: 1200px;
}

.about-earth
{
  flex: 1;
}

.about-heading-large
{
  font-size: 80px;
  color: #ebebebce;
  text-align: center;
}


@media (max-width: 800px) {
  .about-heading-large
  {
    font-size: 30px;
    color: #ebebebce;
    text-align: center;
  }
  .about-content {
    width: 100%;
    font-size: medium;
  }
  .about-heading{
    color: #ebebebce;
    text-align: center;
    font-size: larger;
  }
  .navbar-main
  {
    position: fixed;
    backdrop-filter: blur(5px);
    height:20px;
    bottom: 0;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(5px);
    z-index: 99;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto;
  }
  .navbar-item
  {
    font-size: small;
    margin: 10px;
    height: 20px;
    width: auto;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    
  }
  .navbar-link{
    font-size: medium;
  }

}
.top
{
  z-index: -1;
  margin: 0;
  background-color: #020202;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.about-main
{
  overflow: hidden;}




.test
{
  background-color: black;
  z-index: 100;
  position: fixed;
}

.main{
  background-color: black;
  transition-duration: 200ms;
}
.name
{
  font-size: 7em;
  margin-top: 300px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
}
.cursor
{
  font-size: 3em;
  text-align: center;
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

video{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -6;
}
.overlay
{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
.link-main
{
  color: #d5d5d5;
}
.link-main:hover
{
  color: white;
}
.vw-max
{
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  position: relative;
}

::selection
{
  background-color: rgba(255,255,255, 0.1);
  border: 1px solid;
  border-color: white;
}

.navbar-main
{
  position: fixed;
  backdrop-filter: blur(5px);
  height:100px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Roboto;
}

.navbar-item
{
  font-size: 25px;
  margin: 30px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-link
{
  color: #d5d5d5;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}
.navbar-link:hover,
.navbar-link:focus
{
  color: white;
}

.text1
{
  color: white;
}
.navbar-link::after{
  content:'';
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  left:0;
  bottom: -30px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.navbar-link:hover::after,
.navbar-link:focus::after{
  opacity: 1;
}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 25vh;
  top: 0;
  display: flex;
  flex-direction: column;
}



.skills-content{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 18vh;
  top: 0;
  display: flex;
  flex-direction: column;
}


.about-links
{
  display: inline-flex;
  flex-direction: row;
  margin: 20px;
  height: 60px;
  width: 60px;
  transition: 0.3s;
}


.skills-links
{
  display: inline-flex;
  flex-direction: row;
  margin: 20px;
  transition: 0.3s;
}

.skills-links:hover{
  transition: 0.3s;
  opacity: 1;
  scale: 1.2;
}

#alinks{
  margin: 10px;
  padding: 0px;
  border: 0px;
}

a.links{
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  opacity: 0.5;
}
.git:hover
{
  background-image: url'./git.png';
}
a.links:hover{
  transition: 0.3s;
  opacity: 1;
}
.links{
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}
.about-links:hover{
  transition: 0.3s;
  opacity: 1;
  scale: 1.2;
}

.para {
  opacity: 1;
  color: white;
  border: 1px solid;
  width: 80vh;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  margin: 50px;
  padding: 20px;
  border-color: rgba(1, 1, 1, 0);
  background: rgba(255,255,255,0.1);
  transition-duration: 500ms;
}
.para:hover {
  opacity: 1;
  color: white;
  width: 80vh;
  border: 1px solid;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  margin: 50px;
  border-color: rgb(250, 250, 255);
  padding: 20px;
  background: rgba(255,255,255,0.13);
  transition-duration: 500ms;
}

.flexcont {
  display: flex;
  margin: auto;
  justify-content: center;
}
.arrow{
  position: fixed;
  z-index: 30;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background: #151515;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #050505;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 20px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454545; 
}


.skills-main
{
  display: flex;
  flex-direction: row;
}

.skills-box
{
  color: white;
  font-family: 'Questrial', sans-serif;
  margin: 5vw;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills-item
{
  text-align: center;
  line-height: 0;
  color: white;
  font-family: 'Questrial', sans-serif;
  margin: auto;
}

.skills-heading
{
  font-size: 3vw;
  font-weight: 700;
  line-height: 0.8;
  width: 20vw;
}
.skills-heading-large
{
  font-size: 55px;
  font-weight: 700;
  line-height: 0.8;
  width: 20vw;
}

@media (max-width: 800px) {
  .skills-heading
{
  font-size: 50px;
  font-weight: 700;
  line-height: 0.9;
  width: 100vw;
}

.skills-box
{
  color: white;
  font-family: 'Questrial', sans-serif;
  margin: 5vw;
  display: flex;
  flex-wrap: wrap;
}



}

.skills-heading-color-1
{
  background: linear-gradient(to right, #ffafbd , #ffc3a0);
  
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skills-heading-color-2
{
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skills-heading-color-3
{
  background: linear-gradient(to right,#4568dc , #b06ab3
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skills-heading-color-4
  {
    background: linear-gradient(to right,#ff7e5f , #feb47b
    );

  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.extra-space
{
  height: 0vw;
}
.extra-space-small
{
  height: 0vw;
}
@media (max-width: 800px) {

  .extra-space
  {
    height: 20vw;
  }
  .extra-space-small
  {
    height: 5vw;
  }
.skills-main
{
  display: flex;
  flex-direction: column;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


}


/* 

    PROJECTS

*/

.projects-list
{
  text-align: left;
}

.projects-box
{
  height: 70vh;
  margin: 30px;
  background-color: rgba(7, 7, 7, 0.007);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.19);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 450px;
  transition: 0.5s;
}

.projects-box:hover
{
  height: 70vh;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.021);
  backdrop-filter: blur(2px);
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.863);
  text-align: center;
  width: 450px;
  scale: 1;
  transition: 0.5s;
}

.project-main
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects-content{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.projects-image
{
  margin: 0;
  
  margin-top: 3px;
  border-radius: 30px;
  scale: 0.93;
  opacity: 0.9;
  height: 40%;
  width: 100%;
}

.projects-heading
{
  font-size: x-large;
  color: white;
}

.projects-description
{
  font-size: large;
  color: #d5d5d5;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px)

{
  .project-main
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.projects-button
{
  background-color: #00000000;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: white;
  transition: 0.3s;
}
.projects-content{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  top: 0;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10vh;
}

.projects-image
{
  margin: 0;
  padding: 0;
  border-radius: 30px;
  scale: 0.97;
  opacity: 0.9;
  height: fit-content;
  width: fit-content;
}

.projects-box
{
  height: 60vh;
  margin: 30px;
  background-color: rgba(7, 7, 7, 0.007);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.19);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  width: auto;
  overflow-wrap: break-word;
  transition: 0.5s;
}

.projects-box:hover
{
  height: 60vh;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.021);
  backdrop-filter: blur(2px);
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.863);
  text-align: center;
  width: auto;
  scale: 1;
  transition: 0.5s;
}


.projects-description
{
  font-size: small;
  color: #d5d5d5;
}
}

ol
{
  display: table;
  margin: 0 auto;
}

.projects-button
{
  background-color: #b8b0b025;
  padding: 20px;
  border-radius: 10px;
  border-color: white;
  transition: 0.3s;
}

.projects-button:hover
{
  background-color: #113dce71;
  padding: 20px;
  border-radius: 10px;
  border-color: white;
  transition: 0.3s;
  color: #d5d5d5;
}